.container{
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.calc{
  color: white;
  margin: 0 auto;
  padding: 10px;
width: 80%;
height:500px;
display: flex;
flex-direction: column;
justify-content: space-around;

&__period{
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
}








}
.price{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
 

}

.logout{
  border: none;

  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.logout:hover{
  transform: scale(130%);
}

td{
  text-align: center;
  padding: 10px
}

th{
  padding-bottom: 10px;
}
