.price{
  &__heading{
text-align: center;
color: white;
  }
  &__article{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    outline: 1px solid;
  }
}